.lil-card-wrapper{
    background-color: #fff;
    padding: 2em 0em 2em 0em;
    box-shadow: 0px 4px 10px 0px #a6a6a6;

    border-radius: 20px 20px 0px 0px;
    width: 100%;

    h1{
        text-align: center;
    }
    ul {
        list-style: none;

        li {
            margin-left: 20px;
            &:before {
                content: '-';
                left: -5px;
            }
        }
    }
}

.lilCard-button{
    color: #fff;
    font-weight: 800;
    background-color: #fe5858;
    border: none;
    border-radius:  0px 0px 20px 20px;
    padding: .5em;
    width: 100%;
    margin-bottom: 1em;
}